{% extends "authentication/base.html" %}

{% block title %}What do you want to do?{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <a href="{% url "authentication:login" %}" class="btn btn-primary">Login</a>
        <a href="{% url "authentication:auth_user_create" %}" class="btn btn-primary">Create user</a>
        <a href="{% url "authentication:password_reset" %}" class="btn btn-primary">Reset password</a>
    {% else %}
        <a href="{% url "authentication:logout" %}" class="btn btn-primary">Logout</a>
        <a href="{% url "authentication:password_change" %}" class="btn btn-primary">Change password</a>
    {% endif %}

    <a href="{% url "authentication:request_info" %}" class="btn btn-primary">Get request info</a>
{% endblock %}