{% block menu %}
    {% if menu %}
        <div class="navbar navbar-expand-xl navbar-dark">
            <a class="navbar-brand" href="{{ logo_url }}">
                <img src="{{ logo_path }}" alt="Logo" style="width:60px;">
            </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapse-navbar">
                <ul class="navbar-nav mr-auto">
                    {% for menu_item in menu.left %}
                        <li class="nav-item {{ menu_item.classes }} mx-2">
                            <div class="nav-item-border">
                                <a class="nav-link" href="{{ menu_item.url }}">{{ menu_item.label }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <hr/>
                <ul class="navbar-nav">
                    {% for menu_item in menu.right %}
                        <li class="nav-item {{ menu_item.classes }} mx-2">
                            <div class="nav-item-border">
                                <a class="nav-link" href="{{ menu_item.url }}">{{ menu_item.label }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}