{% extends "fadderiet/base-sites/base-content.html" %}

{% load static %}

{% block title %}
    {% if site.images.image %}
        <img class="img-fluid my-3" src="{% get_media_prefix %}{{ site.images.image }}" alt="Välkomnande bild på fadderiet">
    {% endif %}
    <div class="my-3">
        Bra info
    </div>
{% endblock %}

{% block content-indented %}
    <ul class="nav nav-tabs nav-fill flex-column flex-md-row" id="tab-bar" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="aktuellt-tab" data-toggle="tab" href="#aktuellt" role="tab" aria-controls="aktuellt" aria-selected="true">
                <h5><b>Aktuellt</b></h5>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="fadderiet-tippsar-tab" data-toggle="tab" href="#fadderiet-tippsar" role="tab" aria-controls="fadderiet-tippsar" aria-selected="true">
                <h5><b>Fadderiet tipsar</b></h5>
            </a>
        </li>
    </ul>
    <div class="my-3">
        <hr>
    </div>

    <div class="tab-content bg-background-gray-10 p-4" id="tab-content">
        <div class="tab-pane fade" id="aktuellt" role="tabpanel" aria-labelledby="aktuellt-tab">
            {% for para in site.lists.aktuellt %}
                <h4 class="mt-3 mb-1 font-weight-bold">{{ para.title }}</h4>
                <div class="d-flex flex-wrap align-items-center">
                    {% if para.image %}
                        <div class="col-lg-4 my-3 align-items-center">
                            <img class="img-fluid" src="{% get_media_prefix %}{{ para.image }}" alt="">
                        </div>
                    {% endif %}
                    <div class="col-lg my-3 align-items-center">
                        <p>
                            {{ para.text|safe|linebreaks }}
                        </p>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="fadderiet-tippsar" role="tabpanel" aria-labelledby="fadderiet-tippsar-tab">
            <h4 class="mt-3 mb-1 font-weight-bold">Vad är vad?</h4>
            <p>
                {{ site.texts.vad_ar_vad_intro|safe|linebreaks }}
            </p>
            {% for para in site.lists.vad_ar_vad %}
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-lg my-3 align-items-center">
                        <h5>{{ para.title }}</h5>
                        <p>
                            {{ para.text|safe|linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <hr>

            <h4 class="mt-3 mb-1 font-weight-bold">FUNKA</h4>
            <p>
                {{ site.texts.funka_intro|safe|linebreaks }}
            </p>
            {% for para in site.lists.funka %}
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-lg my-3 align-items-center">
                        <h5>{{ para.title }}</h5>
                        <p>
                            {{ para.text|safe|linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <hr>

            <h4 class="mt-3 mb-1 font-weight-bold">Inför skolstart</h4>
            <p>
                {{ site.texts.infor_skolstart_intro|safe|linebreaks }}
            </p>
            {% for para in site.lists.infor_skolstart %}
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-lg my-3 align-items-center">
                        <h5>{{ para.title }}</h5>
                        <p>
                            {{ para.text|safe|linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <hr>

            <h4 class="mt-3 mb-1 font-weight-bold">Schemat</h4>
            <p>
                {{ site.texts.schemat_intro|safe|linebreaks }}
            </p>
            {% for para in site.lists.schemat %}
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-lg my-3 align-items-center">
                        <h5>{{ para.title }}</h5>
                        <p>
                            {{ para.text|safe|linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <hr>

            <h4 class="mt-3 mb-1 font-weight-bold">Tips om bostad</h4>
            <p>
                {{ site.texts.tips_om_bostad_intro|safe|linebreaks }}
            </p>
            {% for para in site.lists.tips_om_bostad %}
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-lg my-3 align-items-center">
                        <h5>{{ para.title }}</h5>
                        <p>
                            {{ para.text|safe|linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}

            <hr>

            <h4 class="mt-3 mb-1 font-weight-bold">Integrationsπrioden</h4>
            <p>
                {{ site.texts.integrationsperioden_intro|safe|linebreaks }}
            </p>
            {% for para in site.lists.integrationsperioden %}
                <div class="d-flex flex-wrap align-items-center">
                    <div class="col-lg my-3 align-items-center">
                        <h5>{{ para.title }}</h5>
                        <p>
                            {{ para.text|safe|linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}

{% block extrapostscript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready( function () {
            console.log("1");
            let hash_string = window.location.hash.replace( /^#/, '' );
            var acceptable_hashes = ['fadderiet-tippsar', 'aktuellt'];
            var tab;
            if (acceptable_hashes.includes(hash_string)) {
                tab = $( "#" + hash_string + "-tab" );
            } else {
                tab = $( "#aktuellt-tab" )
            }
            console.log(tab);
            console.log(hash_string);
            tab.tab('show');
            tab.addClass('active');
        } );
    </script>
{% endblock %}
