{% extends "fadderiet/base-sites/base-content.html" %}

{% load static %}

{% block title %}
    Hej nØllan!
{% endblock %}

{% block content-spanning %}
    <div class="position-relative text-center vertical-align-center" style="height: 700px;">
        <div class="position-absolute bg-background-gray" style="opacity: 0.7; top: 10%; left: 10%; width: 20%; border-radius: 15px;">
            <h1 style="margin: 0.5em 0; opacity: 1;">Hej nØllan!</h1>
        </div>
        <div class="center-cropped" style="height: 100%;">
            <img src="{% static "fadderiet/resources/fadderiet_valkommen.JPG" %}" alt="" style="z-index: -1;"/>
        </div>
    </div>
{% endblock %}

{% block content-indented %}
    <p>
        Som vi har väntat på att få träffa er! Det är vi som är det Flytande fadderiet och vi, tillsammans med närmare hundra snälla faddrar, kommer ta hand om er under mottagningen. Mottagningen är två händelsefulla innan veckor innan själva skolan börjar där ni kommer få lära er bra saker att kunna inför era år på KTH och framförallt lära känna dem du kommer dela dina år med. Det kommer att vara lekar, tävlingar, föreläsningar och en och annan fest; dessutom kommer du få möjligheten att leta reda på dina borttappade mattekunskaper.
    </p>
    <p>
        Nästan allt under mottagningen är frivilligt, kolla schemat för att se vad som inte är det. Det finns dock ingen anledning till att missa något. Vi har förberett mottagningen sedan i vintras för att göra den så bra som den någonsin kan vara, eller ja... åtminstone lååångt bättre än väntat. De allra flesta studenterna brukar minnas mottagningen som den roligaste delen av sin tid på KTH och om det är nånting man ångrar så är det aktiviteterna man missade.
    </p>
    <p>
        För att göra det lite enklare att vara med under mottagningen så har vi satt ihop en liten lista med bra tips som du kan hitta här på hemsidan. Här på hemsidan kan du även hitta schemat för mottagningen, lite bra info inför skolstart, bra tips om man ska skaffa bostad och viktigast av allt: här på hemsidan kan du fylla i nØlleenkäten. Med hjälp av den kan vi se till att göra mottagningen så lite dålig och så mycket bra som möjligt för alla.
    </p>
    <p>
        Simma lugnt!
        <br>
        Flytande Sandra, Hanna, Samuel, Samuel
    </p>
{% endblock %}