{% extends "fadderiet/base-sites/base-content.html" %}

{% load static %}

{% block title %}
    Schema
{% endblock %}

{% block content-indented %}

    <div class="navbar navbar-expand-xl navbar-light my-4 rounded-lg bg-primary" id="schedule-navbar">
        <span class="navbar-brand" href="#">Välj nØllegrupp</span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav container-fluid justify-content-around">
                {% for group in nolle_groups %}
                    <li class="nav-item">
                        <a class="nav-link p-0 {% ifequal group users_nolle_group %}active{% endifequal %}" data-toggle="pill" href="#group-schedule-{{ group.pk }}">
                            <div class="nav-link-border p-2">
                                {{ group }}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="tab-content">
        {% for group in nolle_groups %}
            <div id="group-schedule-{{ group.pk }}" class="tab-pane fade in {% ifequal group users_nolle_group %}active show{% endifequal %}">
                <img class="img-fluid" src="{% get_media_prefix %}{{ group.schedule }}" alt="Schema för {{ group }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}