{% extends "fohseriet/base-sites/centerd.html" %}
{% load crispy_forms_tags %}

{% block title-centered %}Visa dig värdig.{% endblock %}

{% block centered-content %}
    <div class="d-flex flex-column col-xl-4 col-lg-6 col-md-8">
        <div class="errornote">
            {% if request.GET.failed %}
                Inloggning misslyckades!
            {% endif %}
        </div>

        <div class="d-flex flex-column">
            <a href="{{ cred_login_url }}" class="btn btn-primary btn-block py-3 my-3">Via nØllesystemet</a>
            <a href="{{ cas_login_url }}" class="btn btn-primary btn-block py-3 my-3">Via KTH</a>
        </div>
    </div>
{% endblock %}