{% extends 'fohseriet/base.html' %}

{% block content %}

    <h1 style="margin-bottom: 1em;">Skapa evenemang</h1>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}

        <h3>Baspris</h3>
        {{ base_price_formset }}

        <h3>Dryck</h3>
        {{ drink_option_formset }}

        <h3>Extraval</h3>
        {{ extra_option_formset.management_form }}
        {% for eopt_f in extra_option_formset %}
            <div class="row form-row spacer">
                <div class="">
                    <div class="input-group">
                        {{ eopt_f.as_table }}
                        <div class="input-group-append">

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    <button class="btn btn-success" id="add-more-extraoption">+</button>

        <div><button type="submit" class="btn btn-primary m-3">Spara</button></div>
    </form>

{% endblock %}