<!DOCTYPE html>
<html lang="en">
    {% load static tags %}
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href={% static "fadderiet/scss/custom.css" %}>
        <link rel="stylesheet" href={% static "fadderiet/css/basestyle.css" %}>

        {% block extra-style %}{% endblock %}

        <title>Fadderiets hemsida</title>
    </head>
    <body>
        <div class="container">
            <div id="header" class="container">
                <div id="title-bar">
                    <img src="{% static "fadderiet/resources/banner_stjarnor.png" %}" id="title-bar-banner">
                    <h3 id="site-title">Fjädrande fadderiets harmoniska hemsida</h3>
                </div>
                <div id="menu-bar" class="container">
                    {% block menu %}
                        {% if menu %}
                            <div class="row">
                                <div class="col-8 d-flex justify-content-start">
                                    <div class="d-inline-flex">
                                        {% for menu_item in menu.left %}
                                            <div class="p-3 {{ menu_item.classes }}">
                                                <a href="{{ menu_item.url }}">{{ menu_item.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <div class="d-inline-flex">
                                        {% for menu_item in menu.right %}
                                            <div class="p-3 {{ menu_item.classes }}">
                                                <a href="{{ menu_item.url }}">{{ menu_item.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
            <div id="content-main" class="container">
                <h1 class="pt-4 pb-4">{% block title %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
            <div id="footer" class="container">

            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>