{% extends "fadderiet/base.html" %}

{% block title %}Logga in{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="errornote">
            {% if request.GET.failed %}
                Inloggning misslyckades!
            {% endif %}
        </div>

        <h2 class="p-3">Vem är du?</h2>

        <div>
            <a href="{{ cred_login_url }}" class="btn btn-primary p-3 pr-5 pl-5 mr-3">nØllan</a>
            <a href="{{ cas_login_url }}" class="btn btn-primary p-3 pr-5 pl-5 mr-3">Fadder</a>
        </div>
    </div>
{% endblock %}