{% extends "fadderiet/base-sites/base-content.html" %}

{% load static %}

{% block title %}
    <div class="text-center w-100">Leaderboard Campussafari</div>
{% endblock %}

{% block content-indented %}
    <div class="my-4">
        {{ site.texts.info|safe|linebreaks }}
    </div>

    <div class="card my-2 bg-dark">
        <div class="card-header card text-white">
            <div class="d-flex flex-nowrap justify-content-between">
                <div class="font-weight-bolder col-6" style="white-space: nowrap;">
                    Grupp
                </div>
                <div class="col float-right text-right">
                    Poäng
                </div>
            </div>
        </div>
    </div>
    <div>
        {% for group in groups %}
            {% with quest=side_quest_info.quest checked=side_quest_info.checked %}
                <div class="card my-2 bg-chill-white text-black">
                    <div class="card-header card">
                        <div class="d-flex flex-nowrap justify-content-between">
                            <div class="col font-weight-bolder my-auto" style="white-space: nowrap;">
                                {{ group }}
                            </div>
                            <div class="col float-right text-right" style="white-space: nowrap;">
                                {{ group.total_points }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}

