{% extends "fadderiet/base.html" %}

{% block title %}
    Evenemang
{% endblock %}

{% block content %}
    {% if object_list %}
        <table class="table table-dark" id="user-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Evenemang</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Tid</th>
                </tr>
            </thead>
            <tbody id="user-table-body">
                {% for list_item in object_list %}
                    <tr class="">
                        <td>{{ list_item.happening.name }}</td>
                        <td>{{ list_item.happening.start_time|date }}</td>
                        <td>{{ list_item.happening.start_time|time }} - {{ list_item.happening.end_time|time }}</td>
                        <td><a class="btn btn-primary" href="{% url 'fadderiet:evenemang:anmalan' list_item.happening.pk %}">
                            {% if list_item.is_registered %}
                                Se anmälan
                            {% else %}
                                Anmäl dig
                            {% endif %}
                        </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Systemet har inga evenemang
    {% endif %}
{% endblock %}