{% extends "fohseriet/base-sites/base-content.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block title %}Anmälningar: {{ user_of_registrations }}{% endblock %}

{% block content-indented %}

    {% include "common/elements/back-button.html" %}

    {% if object_list %}
        {% for registration_object in object_list %}
            {% with registration_object.registration as registration %}
                <div class="card my-2 bg-chill-white text-black">
                    <div class="card-header card" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                        <div class="d-flex flex-nowrap justify-content-between">
                            <div class="font-weight-bolder">
                                {{ registration.happening.name }}
                            </div>
                        </div>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="collapse">
                        <div class="d-flex card-body flex-wrap">
                            <div class="d-flex flex-column col-lg-7">
                                {% crispy registration_object.form %}
                            </div>
                            <div class="d-flex col-lg-5">
                                <div class="d-flex flex-fill">
                                    <div class="d-flex flex-fill flex-column align-content-center justify-content-start">
                                        <div class="d-flex flex-column align-items-center">
                                            {% if registration_object.can_edit %}
                                                <a class="col-10 col-sm-8 col-md-6 col-lg-10 col-xl-9 btn btn-primary my-2" href="{% url 'fohseriet:anmalan:redigera' registration.pk %}?next={{ request.path|urlencode }}">
                                                    Redigera
                                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    {% else %}
        <p>
            Användaren har inga anmälningar. Känns det helt fel? Mejla <a href="mailto:nollesystemet@f.kth.se">nollesystemet@f.kth.se</a> för att få hjälp.
        </p>
    {% endif %}
{% endblock %}