{% extends "fohseriet/base-sites/base-content.html" %}

{% block title %}
    Anmälningar för {{ user_of_registrations }}
{% endblock %}

{% block content-indented %}
    {% include "common/elements/back-button.html" %}

    {% if object_list %}
        <table class="table table-list">
            <tbody id="user-table-body">
            {% for list_item in object_list %}
                <tr class="">
                    <td>{{ list_item.registration.happening.name }}</td>
                    <td>
                        {% if list_item.user_can_edit %}
                            <a class="btn btn-primary" href="{% url 'fohseriet:anmalan:visa' list_item.registration.pk %}?next={{ request.path|urlencode }}">
                                Se anmälan
                                <i class="fa fa-address-card" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        Användaren har inga anmälningar
    {% endif %}
{% endblock %}