{% extends "fohseriet/base.html" %}

{% block title %}
    Anmälningar för {{ user_of_registrations }}
{% endblock %}

{% block content %}
    <a class="btn btn-primary mt-3 mb-3" href="{{ back_url }}">
        Tillbaka
    </a>

    {% if object_list %}
        <table class="table table-dark" id="">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Evenemang</th>
                </tr>
          </thead>
          <tbody id="user-table-body">
                {% for list_item in object_list %}
                    <tr class="">
                        <td>{{ list_item.registration.happening.name }}</td>
                        {% if list_item.user_can_edit %}
                            <td>
                                <a class="btn btn-primary" href="{% url 'fohseriet:anmalan:redigera' list_item.registration.pk %}?next={{ request.path|urlencode }}">
                                    Redigera anmälan
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
          </tbody>
        </table>
    {% else %}
        Användaren har inga anmälningar
    {% endif %}
{% endblock %}