{% extends "fadderiet/base-sites/centered-col-4.html" %}
{% load crispy_forms_tags %}

{% block title-centered %}Logga in{% endblock %}

{% block centered-content-col-4%}
    <div class="errornote">
        {% if request.GET.failed %}
            Inloggning misslyckades!
        {% endif %}
    </div>

    <h2 class="p-3 text-center my-3">Vem är du?</h2>

    <div class="d-flex justify-content-between">
        <a href="{{ cred_login_url }}" class="btn btn-primary col-5 py-3">nØllan</a>
        <a href="{{ cas_login_url }}" class="btn btn-primary col-5 py-3">Fadder</a>
    </div>

{% endblock %}