{% extends "fadderiet/base-sites/centerd.html" %}
{% load crispy_forms_tags %}

{% block title-centered %}Logga in{% endblock %}

{% block centered-content %}
    <div class="errornote">
        {% if request.GET.failed %}
            Inloggning misslyckades!
        {% endif %}
    </div>

    <h2 class="p-3 text-center my-3">Vem är du?</h2>

    <div class="row justify-content-center text-center">
        <div class="col-6 d-inline-flex justify-content-around">
            <a href="{{ cred_login_url }}" class="btn btn-primary col-5 py-3">nØllan</a>
            <a href="{{ cas_login_url }}" class="btn btn-primary col-5 py-3">Fadder</a>
        </div>
    </div>
{% endblock %}