{% extends 'fohseriet/base.html' %}

{% block content %}

    <h1 style="margin-bottom: 1em;">Skapa evenemang</h1>
    <form method="post">{% csrf_token %}

       <table>
           {{ form.as_table }}
       </table>


        <h3>Baspris</h3>
        {{ base_price_formset.management_form }}
        {% for base_price_form in base_price_formset %}
            <div class="row form-row spacer base-price">
                <div class="input-group">
                    {{ base_price_form.as_table }}
                    <button type="button" class="btn btn-danger remove-base-price">Ta bort</button>
                </div>
            </div>
        {% endfor %}
        <button type="button" class="btn btn-success" id="add-base-price">Lägg till fler</button>


        <h3>Dryck</h3>
        {{ drink_option_formset.management_form }}
        {% for drink_option_form in drink_option_formset %}
            <div class="row form-row spacer drink-option">
                <div class="input-group">
                    {{ drink_option_form.as_table }}
                    <button type="button" class="btn btn-danger remove-drink-option">Ta bort</button>
                </div>
            </div>
        {% endfor %}
        <button type="button" class="btn btn-success" id="add-drink-option">Lägg till fler</button>


        <h3>Extraval</h3>
        {{ extra_option_formset.management_form }}
        {% for extra_option_form in extra_option_formset %}
            <div class="row form-row spacer extra-option">
                <div class="input-group">
                    {{ extra_option_form.as_table }}
                    <button type="button" class="btn btn-danger remove-extra-option">Ta bort</button>
                </div>
            </div>
        {% endfor %}
        <button type="button" class="btn btn-success" id="add-extra-option">Lägg till fler</button>

        <div>
            <button type="submit" class="btn btn-primary m-3">Spara</button>
        </div>
    </form>

{% endblock %}

{% block extrascript %}
    <script>
        $('#add-base-price').click(function () {
            cloneForm('div.base-price:last', 'grouphappeningproperties_set');
        });

        $('#add-drink-option').click(function () {
            cloneForm('div.drink-option:last', 'drinkoption_set');
        });

        $('#add-extra-option').click(function () {
            cloneForm('div.extra-option:last', 'extraoption_set');
        });


        $('.remove-base-price').click(function () {
            deleteForm($(this), '.base-price', 'grouphappeningproperties_set');
        });

        $('.remove-drink-option').click(function () {
            deleteForm($(this), '.drink-option', 'drinkoption_set');
        });

        $('.remove-extra-option').click(function () {
            deleteForm($(this), '.extra-option', 'extraoption_set');
        });
    </script>
{% endblock %}