{% extends "fohseriet/base.html" %}

{% block title %}
    Evenemang
{% endblock %}

{% block content %}
    <div class="pb-3">
        <a class="btn btn-primary" href="{% url 'fohseriet:evenemang:skapa' %}">
            Skapa evenemang
        </a>
    </div>

    {% if object_list %}
        <table class="table table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Evenemang</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Tid</th>
                </tr>
            </thead>
            <tbody id="user-table-body">
                {% for list_item in object_list %}
                    <tr class="">
                        <td>{{ list_item.happening.name }}</td>
                        <td>{{ list_item.happening.start_time|date }}</td>
                        <td>{{ list_item.happening.start_time|time }} - {{ list_item.happening.end_time|time }}</td>
                        <td>
                            {% if list_item.user_can_edit %}
                                <a class="btn btn-primary" href="{% url 'fohseriet:evenemang:anmalda' list_item.happening.pk %}">
                                    Se anmälda
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if list_item.user_can_edit %}
                                <a class="btn btn-primary" href="{% url 'fohseriet:evenemang:redigera' list_item.happening.pk %}?next={{ request.path|urlencode }}">
                                    Redigera
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Systemet har inga evenemang
    {% endif %}
{% endblock %}