{% extends 'fohseriet/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    {% if object %}
        Redigera evenemang
    {% else %}
        Skapa evenemang
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-8">
        <form method="post">
            {% csrf_token %}
            {% crispy form %}

            <hr>

            <h3>Baspris</h3>
            {{ base_price_formset.management_form }}
            {% for base_price_form in base_price_formset %}
                <div class="base-price pb-1">
                    {% crispy base_price_form %}
                </div>
            {% endfor %}
            <button type="button" class="btn btn-success" id="add-base-price">Lägg till fler</button>

            <hr>

            <h3>Dryck</h3>
            {{ drink_option_formset.management_form }}
            {% for drink_option_form in drink_option_formset %}
                <div class="drink-option pb-1">
                    {% crispy drink_option_form %}
                </div>
            {% endfor %}
            <button type="button" class="btn btn-success" id="add-drink-option">Lägg till fler</button>

            <hr>

            <h3>Extraval</h3>
            {{ extra_option_formset.management_form }}
            {% for extra_option_form in extra_option_formset %}
                <div class="extra-option pb-1">
                    {% crispy extra_option_form %}
                </div>
            {% endfor %}
            <button type="button" class="btn btn-success" id="add-extra-option">Lägg till fler</button>

            <hr>

            <button type="submit" class="btn btn-primary mt-4 mb-4">Spara</button>

        </form>
    </div>
{% endblock %}

{% block extrascript %}
    <script>
        $('#add-base-price').click(function () {
            cloneForm('div.base-price:last', 'grouphappeningproperties_set');
        });

        $('#add-drink-option').click(function () {
            cloneForm('div.drink-option:last', 'drinkoption_set');
        });

        $('#add-extra-option').click(function () {
            cloneForm('div.extra-option:last', 'extraoption_set');
        });


        $('.remove-base-price').click(function () {
            deleteForm($(this), '.base-price', 'grouphappeningproperties_set');
        });

        $('.remove-drink-option').click(function () {
            deleteForm($(this), '.drink-option', 'drinkoption_set');
        });

        $('.remove-extra-option').click(function () {
            deleteForm($(this), '.extra-option', 'extraoption_set');
        });
    </script>
{% endblock %}