{% extends 'fohseriet/base-sites/left-col-template.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    nØlleenkäten
{% endblock %}

{% block content-left-col %}
    {% include "common/elements/back-button.html" %}
    <h5>
        Antal svar: {{ num_of_answers }}
    </h5>

    <hr style="height: 2px; border-width: 0; color: gray; background-color: gray;">
    <h2>Administrera:</h2>

    <div class="d-flex flex-column p-4">
        <div class="d-flex">
            <a href="{% url "fohseriet:nolleenkaten:ladda-ned-svar" %}" class="btn btn-success col flex-grow-1" download>
                Ladda ned
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
            <div class="col flex-grow-0"></div>
            <a href="{% url "fohseriet:nolleenkaten:radera-svar" %}" class="btn btn-danger col flex-grow-1">
                Radera alla svar
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
        </div>
        <div class="my-3"></div>
        {% crispy form %}
    </div>

    <hr style="height: 2px; border-width: 0; color: gray; background-color: gray;">
    <h2>Förhandsgranska:</h2>
    <div class="container-fluid p-4">
        {% crispy preview_form %}
    </div>
{% endblock %}

{% block extrapostscript %}
    <script type="text/javascript">
        $("form").attr("onSubmit", "return confirm('Är du säker på att du vill uppdatera nØlleenkäten? Gör inte detta om folk redan börjat svara på enkäten!');")

    </script>
{% endblock %}