{% extends 'fohseriet/base-sites/left-col-template.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    nØlleenkäten
{% endblock %}

{% block content-left-col %}
    <div class="d-flex justify-content-between">
        {% include "common/elements/back-button.html" %}
        <a href="{% url "fohseriet:nolleenkaten:ladda-ned-svar" %}" class="btn btn-success my-4" download>
            Ladda ned
            <i class="fa fa-download" aria-hidden="true"></i>
        </a>
    </div>

    {% crispy form %}
    <h3>Förhandsgranskning:</h3>
    {% crispy preview_form %}
{% endblock %}

{% block extrapostscript %}
    <script type="text/javascript">
        $("form").attr("onSubmit", "return confirm('Är du säker på att du vill uppdatera nØlleenkäten? Gör inte detta om folk redan börjat svara på enkäten!');")
    </script>
{% endblock %}