
$fohseriet: #b6a543;
$fohseriet-secondary: #000000;
$background: #1d1d1d;
$chill-white: #c5c5c5;

$theme-colors: (
        "primary": $fohseriet,
        "secondary": $fohseriet-secondary,
        "background-gray": $background,
        "white": #ffffff,
        "black": #000000,
        "fohseriet": $fohseriet,
        "chill-white": $chill-white,
);

@import "../../scss/basestyle";


body{
  min-height: 100vh;
  background-size: 100%;
  background: $background;
}

#menu {
  background-color: $black;
  .nav-link {
    color: $chill-white;

    &:hover {
      color: $white;
    }

    font-weight: bolder;
    font-size: 1.1rem;
  }

  @media only screen and (max-width: $xl-size) {
    .nav-item {
      padding-left: 1em;
      margin: 0.25em 0 0.25em 0;
    }
  }
}

#content {
  color: $white;
}

#footer {
  color: $white;
}

.center-cropped {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

$table-row-rounding-radius: 10px;

.table-list {
  background: $background;
  margin-top: 20px;
  margin-bottom: 20px;

  border-collapse: separate;
  border-spacing: 0 10px;
  tr {
    border: hidden;
    td:first-child, th:first-child {
      font-weight: bold;
      -moz-border-radius-topleft: $table-row-rounding-radius;
      -moz-border-radius-bottomleft: $table-row-rounding-radius;
      -webkit-border-top-left-radius: $table-row-rounding-radius;
      -webkit-border-bottom-left-radius: $table-row-rounding-radius;
    }
    td:last-child, th:last-child {
      -moz-border-radius-topright: $table-row-rounding-radius;
      -moz-border-radius-bottomright: $table-row-rounding-radius;
      -webkit-border-top-right-radius: $table-row-rounding-radius;
      -webkit-border-bottom-right-radius: $table-row-rounding-radius;
    }
  }
  th, td {
    border: hidden;
  }

  thead {
    tr {
      background: $black;
      color: $chill-white;
    }
    th {
      border-bottom: none ;
    }
  }
  tbody {
    tr {
      background: $chill-white;
      color: $black
    }
  }
}

