
$fohseriet: #A8960F;
$fohseriet_secondary: #000000;
$background-gray: #1d1d1d;

$theme-colors: (
        "primary": $fohseriet,
        "secondary": $fohseriet_secondary,
        "background-gray": $background-gray,
        "white": #ffffff,
        "black": #000000,
);

@import "../../../../static/bootstrap/scss/bootstrap";


body{
  min-height: 100vh;
  background-size: 100%;
  background: $background-gray;
}

#menu-container {
  a {
    color: $white;
  }
}

#footer {
  color: $white;
}

.center-cropped {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}
