{% extends "common/sites/base.html" %}
{% load static %}

{% block metatitle %}Fadderiets hemsida{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href={% static "fadderiet/scss/basestyle.css" %}>
{% endblock %}

{% block menu %}
    {% url "fadderiet:index" as logo_url %}
    {% static "fadderiet/resources/fadderiet_logo.png" as logo_path %}
    {% include "common/elements/menu-items.html" with menu=menu logo_path=logo_path logo_url=logo_url only %}
{% endblock %}

{% block footer %}
    {% include "fadderiet/elements/footer.html" %}
{% endblock %}