{% extends "common/sites/base.html" %}
{% load static %}

{% block metatitle %}Fohseriets hemsida{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href={% static "fohseriet/scss/basestyle.css" %}>
{% endblock %}

{% block bannerimage %}{% static "fadderiet/resources/banner_stjarnor.png" %}{% endblock %}

{% block sitetitle %}Fasansfulla Föhseriets hemsida{% endblock %}

{% block extrascript %}
    {{ block.super }}
    <script src="{% static 'fohseriet/js/basescript.js' %}"></script>
{% endblock %}