{% load crispy_forms_field %}

{% for widget in field.subwidgets %}
    <div class="btn {{ widget.data.button_classes }}">
        <input type="{{ widget.data.type }}" name="{{ widget.data.name }}" class="autosubmit custom-file-input{% if field.errors %} is-invalid{%endif%}" {% if field.field.disabled %}disabled{% endif %} {% for name, value in field.field.widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
        <script type="text/javascript" id="script-{{ field.id_for_label }}">
            document.getElementById("script-{{ field.id_for_label }}").parentNode.querySelector('.custom-file-input').onchange = function (e){
                e.target.form.submit();
            }
        </script>
    </div>
    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
{% endfor %}
