{% load crispy_forms_tags crispy_forms_filters %}

<div id="{{ form_number }}-{{ formset.prefix }}-formset">
    <h3>{{ header }}</h3>
    {{ formset.management_form }}
    {% for form in formset %}
        <div class="{{ form_number }}-{{ formset.prefix }}-form pb-1">
            {{ form.errors }}
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% crispy form %}
        </div>
    {% endfor %}
    <div class="emptyform {{ form_number }}-{{ formset.prefix }}-form pb-1" style="display: none">
        {% with form=formset.empty_form %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% crispy form %}
        {% endwith %}
    </div>
    <button type="button" class="btn btn-success add-{{ form_number }}-{{ formset.prefix }}">
        Lägg till fler
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>
<script>
        bindFormset("{{ form_number }}-{{ formset.prefix }}");
</script>
