{% extends "fohseriet/base-sites/base-content.html" %}

{% block title %}
    Evenemang
{% endblock %}

{% block content-indented %}
    <div class="pb-3">
        <a class="btn btn-primary" href="{% url 'fohseriet:evenemang:skapa' %}">
            Skapa evenemang
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>

    {% if object_list %}
        <table class="table table-list">
            <tbody id="user-table-body">
                {% for list_item in object_list %}
                    <tr>
                        <td>{{ list_item.happening.name }}</td>
                        <td>{{ list_item.happening.start_time|date }}</td>
                        <td>{{ list_item.happening.start_time|time }} - {{ list_item.happening.end_time|time }}</td>
                        <td class="flex-grow-1"></td>
                        <td>
                            {% if list_item.user_can_edit %}
                                <a class="btn btn-primary" href="{% url 'fohseriet:evenemang:anmalda' list_item.happening.pk %}">
                                    Se anmälda
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if list_item.user_can_edit %}
                                <a class="btn btn-primary" href="{% url 'fohseriet:evenemang:redigera' list_item.happening.pk %}?next={{ request.path|urlencode }}">
                                    Redigera
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Systemet har inga evenemang
    {% endif %}
{% endblock %}