{% extends 'fohseriet/base-sites/left-col-template.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    {% if object %}
        Redigera evenemang
    {% else %}
        Skapa evenemang
    {% endif %}
{% endblock %}

{% block content-left-col %}
    <form method="post">
        <div class="d-flex justify-content-between">
            {% include "common/elements/back-button.html" %}
            {% if object %}
                <button type="submit" name="delete" class="btn btn-danger my-4" value="Delete">
                    Radera
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
            {% endif %}
        </div>

        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        {% crispy form %}
        <hr>
        {% include "fohseriet/elements/formset.html" with formset=base_price_formset header="Baspris" formclass="base-price" %}
        <hr>
        {% include "fohseriet/elements/formset.html" with formset=drink_option_formset header="Dryck" formclass="drink-option" %}
        <hr>
        {% include "fohseriet/elements/formset.html" with formset=extra_option_formset header="Extraval" formclass="extra-option" %}
        <hr>
        <button type="submit" name="submit" class="btn btn-primary mt-4 mb-4" value="Spara">
            Spara
            <i class="fa fa-save" aria-hidden="true"></i>
        </button>
    </form>
{% endblock %}