{% extends 'fohseriet/base-sites/left-col-template.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    {% if object %}
        Redigera evenemang
    {% else %}
        Skapa evenemang
    {% endif %}
{% endblock %}

{% block content-left-col %}
    <form method="post">
        {% include "common/elements/back-button.html" %}

        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        {% crispy form %}
        <div class="reg-info">
            {% include "fohseriet/elements/formset.html" with formset=base_price_formset header="Baspris" %}
            {% include "fohseriet/elements/formset.html" with formset=drink_option_formset header="Dryck" %}
            {% include "fohseriet/elements/formset.html" with formset=extra_option_formset header="Extraval" %}
        </div>
        {{ form.submit_delete_buttons | safe }}
    </form>
{% endblock %}

{% block extrapostscript %}
    {{ block.super }}
    <script>
        const selectRadioElement = "input:radio[name='takes_registration']";
        const selectRegistrationLinkedElement = ".reg-info a,.reg-info button,.reg-info input,.reg-info select,.reg-info option,.reg-info optgroup";
        $(document).ready(function () {

            const checkedElement = $(selectRadioElement + ":checked");
            if (checkedElement.val() === 'True') {
                $(selectRegistrationLinkedElement).each(function( index ) {
                  $( this ).removeAttr( "disabled" );
                });
            }
            if (checkedElement.val() === 'False') {
                $(selectRegistrationLinkedElement).each(function( index ) {
                  $( this ).attr( "disabled", true );
                });
            }


            $(selectRadioElement).change(function () {
                $(selectRadioElement).each(function () {
                    $( this ).removeProp( "checked" );
                });
                $( this ).prop( "checked", true );
                if ($( this ).val() === 'True') {
                    $(selectRegistrationLinkedElement).each(function( index ) {
                      $( this ).removeAttr( "disabled" );
                    });
                }
                if ($( this ).val() === 'False') {
                    $(selectRegistrationLinkedElement).each(function( index ) {
                      $( this ).attr( "disabled", true );
                    });
                }
            });

            $( "form" ).submit(function () {
                $(selectRegistrationLinkedElement).each(function( index ) {
                    $( this ).removeAttr( "disabled" );
                });
            });
        });
    </script>
{% endblock %}