{% extends "fadderiet/centerd.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block centered-content %}
    <h2 class="p-3 text-center">Välkommen nØllan!</h2>
    <hr class="mt-0 mb-4">
    {% crispy form %}
    <div class="text-center">
        <p>
            Har du glömt ditt användarnamn eller lösenord? </br>
            Klicka <a href="{{ reset_password_url }}" class="">här</a> för att återställa det.
        </p>
        <p>
            Har du inte redan ett konto? Registrera dig <a href="{{ register_url }}" class="">här</a>.
        </p>
    </div>
{% endblock %}