
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
$font-family-sans-serif: "Poppins", -apple-system, system-ui, "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;


@import "../../../static/bootstrap/scss/bootstrap";

$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;

body{
  min-height: 100vh;
  background-size: 100%;
}


form {
  margin-top: 1em;
  margin-bottom: 3em;
}

fieldset {
  margin-bottom: 2em;
}

.flex-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .hidden#{$infix}   {
      visibility: hidden !important;
    }
    .visible#{$infix}   {
      visibility: visible !important;
    }
  }
}