
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
$font-family-sans-serif: "Poppins", -apple-system, system-ui, "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;


@import "../../../static/bootstrap/scss/bootstrap";


body{
  min-height: 100vh;
  background-size: 100%;
}

#menu-container {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.center-cropped {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

form {
  margin-top: 1em;
  margin-bottom: 3em;
}

fieldset {
  margin-bottom: 2em;
}