
$fadderiet: #009375;

$theme-colors: (
  "primary": $fadderiet,
  "white": #ffffff,
  "black": #000000,
);

$btn-active-darken-percentage: 0%;
$btn-active-border-darken-percentage: 0%;

@import "../../../../static/bootstrap/scss/bootstrap";

#menu-bar {
    background-color: $secondary;
}


