
$fadderiet: #069080;
$fadderiet_secondary: #3b5351;
$background-gray: #DEDEDE;

$theme-colors: (
        "primary": $fadderiet,
        "secondary": $fadderiet_secondary,
        "background-gray": $background-gray,
        "white": #ffffff,
        "black": #000000,
);

@import "../../scss/basestyle";

#menu-container {
  a {
    color: $white;
  }
  .menu-item {
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 1px solid white;
      }
  }
  .selected-menu-item {
      border-bottom: 2px solid white;
  }
}

#footer {
  color: $white;
}