<div class="d-flex flex-row container-fluid justify-content-between">
    <div class="d-flex flex-column col-5">
        Har du några frågor?
        <br>
        Kontakta oss på
        <br>
        <b><i>mottagningen@f.kth.se</i></b>
        <br>
        Det går också bra att ringa får kontaktperson, han svarar på alla sorters frågor!
        <br>
        <b>Christoffer Ejemyr</b>
    </div>
    <div class="d-flex flex-column col-5">
        <h4>Fjädrande fadderiet</h4>
        <table>
            <tr><td>Fjädrande Axel</td><td>070 694 02 51</td></tr>
            <tr><td>Fjädrande Becca</td><td>070 694 02 51</td></tr>
            <tr><td>Fjädrande Frida</td><td>070 694 02 51</td></tr>
            <tr><td>Fjädrande Nicole</td><td>070 694 02 51</td></tr>
        </table>
    </div>
</div>